---
// Component Logic
import { urlFor } from "../libs/sanity/image";
import placeholderImage from "../../public/doggie-fallback.webp";

const {
  slug,
  name,
  friendly_with,
  age,
  images,
  breed,
} = Astro.props.animal;

const mainImageUrl = images?.length > 0 ? urlFor(images[0]).url() : placeholderImage.src;
---

<div class="card min-w-[90%] mx-4 my-8 p-4 bg-white shadow-lg rounded-3xl overflow-hidden ">
  <a href={`/animals/${slug.current}`} class="block">
    <div class="p-2 bg-white flex justify-center">
      <img class="rounded-2xl w-full max-h-72 object-cover " src={mainImageUrl} alt={`Photo of ${name}`} height="200" />
    </div>
    <div class="px-4 py-2 text-center flex-col stretch">
      <h2 class="text-3xl font-extrabold text-blue-600">{name}</h2>
      <p class="text-xl text-blue-950">Breed: {breed}</p>
      <p class="text-md text-blue-950">Age: {age} years old</p>
      <div class="flex flex-wrap justify-center gap-2 mt-3">
        <p class="prose">Good with: </p>
        {friendly_with?.map((friend: string) => ( 
        <span class="px-3 py-1 rounded-full bg-blue-200 text-blue-800 text-md font-semibold">{friend}</span>
        ))}
      </div>
    </div>
  </a>
</div>