---
// Define the props that AnimalCard will accept
const {
  url,
  title,
  breed,
  age,
  gender,
  size,
  vaccinated,
  spayed_neutered,
  special_needs,
  friendly_with,
  not_friendly_with,
  bio,
  image_url,
  adoption_status,
} = Astro.props;
---

<div
  class="card min-w-[320px] mt-8 rounded-3xl bg-blue-200 outline outline-slate-200 shadow-xl"
>
  <a href={url} class="flex flex-col h-full">
    <!-- Use the image URL directly, with a fallback to a default image -->
    <img
      class="rounded-t-3xl object-cover h-48 w-full"
      src={image_url || "/default-animal-image.jpeg"}
      alt={`Photo of ${title}`}
    />
    <div class="p-4 flex flex-col flex-grow">
      <h2 class="title text-xl font-semibold text-blue-900">{title}</h2>
      <p class="breed text-md text-blue-950">Breed: {breed}</p>
      <p class="age text-md text-blue-950">Age: {age}</p>
      <p class="gender text-md text-blue-950">Gender: {gender}</p>
      <p class="size text-md text-blue-950">Size: {size}</p>
      <p class="vaccinated text-md text-blue-950">
        Vaccinated: {vaccinated ? "Yes" : "No"}
      </p>
      <p class="spayed_neutered text-md text-blue-950">
        Spayed/Neutered: {spayed_neutered ? "Yes" : "No"}
      </p>
      <p class="special_needs text-md text-blue-950">
        Special Needs: {special_needs ? "Yes" : "No"}
      </p>
      <p class="friendly_with text-md text-blue-950">
        Friendly With: {friendly_with.join(", ")}
      </p>
      <p class="not_friendly_with text-md text-blue-950">
        Not Friendly With: {not_friendly_with.join(", ")}
      </p>
      <p class="bio text-gray-600 text-sm flex-grow line-clamp-3">{bio}</p>
      <p class="adoption_status text-md font-semibold">{adoption_status}</p>
    </div>
  </a>
</div>
