---
import { Image } from "astro:assets";

interface BoardMemberProps {
  image: string;
  name: string;
  position: string;
  memberSince: string;
  bio: string;
}

const { image, name, position, memberSince, bio } = Astro.props as BoardMemberProps;
---
<!-- Button to previous page -->


<div class="prose-2xl boardBio min-h-screen flex flex-col items-center mx-4 sm:mx-16 md:mx-24 lg:mx-32 my-8">

  <a href="/about" class="text-sm bg-blue-600 text-white p-2 rounded-full self-start">Back to About</a>
  <Image
    src={image}
    alt={name}
    height=300
    width=300
  />
  <h2 class="prose text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-blue-600 mb-2 md:mb-4">{name}</h2>
  <h3 class="prose text-md sm:text-lg md:text-xl font-semibold text-gray-700 my-1 md:my-2">{position}</h3>
  <p class="prose text-sm sm:text-base text-gray-600 mb-1 sm:mb-2">Member since: {memberSince}</p>
  <p class="prose text-md sm:text-base text-gray-600 mb-1 sm:mb-2">{bio}</p>
</div>
