---
import { mailingAddress, phoneNumber } from "../constants";
import emailIcon from "../images/emailIcon.png";
import facebookIcon from "../images/facebookIcon.png";
import { Image } from "astro:assets";
import OrangeSquiggle from "../images/line-twOrange300.svg";
---

<div class="bg-blue-200 py-8 w-full">
  <div class="container  mx-auto px-4 max-w-[1440]">
    <div class="cta text-4xl font-bold text-blue-900 flex flex-col md:flex-row justify-between items-center md:items-end">
      <div class="inner mb-4 md:mb-0 max-w-[600px]">
        Let's Connect!
      </div>
      <div class="flex">
        <!-- Social Links with added margin for the email icon -->
        <a href="mailto:woof@fomas.org" aria-label="Email" class="mr-4">
          <Image src={emailIcon} alt="Email" width={40} height={40} />
        </a>
        <a href="https://www.facebook.com/FriendsoftheMountainairAnimalShelter" aria-label="FOMAS Facebook">
          <Image src={facebookIcon} alt="Facebook" width={40} height={40} />
        </a>
      </div>
    </div>
    <div class="divider flex justify-center my-4">
      <Image src={OrangeSquiggle} alt="Decorative divider" width={320} height={20} loading="lazy" />
    </div>
    <div class="contact-info text-center text-blue-900 text-2xl">
      <p class="py-2">{phoneNumber}</p>
      <p class="py-2">{mailingAddress}</p>
    </div>
  </div>
</div>