---
import { mailingAddress, nonProfitStatus, phoneNumber } from "../constants";
import emailIcon from "../images/emailIcon.png";
import facebookIcon from "../images/facebookIcon.png";
import { Image } from "astro:assets";
---

<div class="flex flex-col p-4 bg-blue-200 px-[20%] py-8">
  <div class="cta text-4xl font-bold text-blue-900 flex flex-row justify-between ">
    <div class="">
      Lets Connect!
    </div>
    <div class="flex flex-row">
      <!-- Social Links with added margin for the email icon -->
      <a href="mailto:woof@fomas.org" aria-label="Email" class="mr-4">
        <Image src={emailIcon} alt="Email" class="w-10 h-10" />
      </a>
      <a href="https://www.facebook.com" aria-label="Facebook">
        <Image src={facebookIcon} alt="Facebook" class="w-10 h-10" />
      </a>
    </div>
  </div>
  <div class="divider flex justify-center my-4">
    <img src="./line-twOrange300.svg" alt="decorative-divider" class="max-w-[80%]">
  </div>
  <div class="contact-info flex flex-col text-center text-blue-900 text-2xl">
    <p class="py-2">{phoneNumber}</p>
    <p class="py-2">{mailingAddress}</p>
    <p class="py-2">{nonProfitStatus}</p>
  </div>
</div>
