---
import { Image } from 'astro:assets';
import RightArrowButton from './RightArrowButton.astro';

// TODO: Rename to describe behavior rather than layout CTA Image / with text.
// TODO: Consider using a variant instead of reverse (image left / image right)

// Define the component's properties
interface Props {
  title: string;
  description?: string;
  image: ImageMetadata;
  buttonLink: string;
  reverse?: boolean;
  altText: string;
}


const { title, description, image, buttonLink, reverse = false }: Props = Astro.props;
---

<div class={`mt-2 mb-4 max-w-[1024px] p-8 grid grid-cols-2 items-center gap-4 bg-white rounded-lg ${reverse ? 'flex-row-reverse' : ''}`}>
  <!-- Content column, order changes if reverse is true -->
  <div class={`flex flex-col justify-between space-y-4 ${reverse ? 'order-last' : 'order-first'}`}>
    <div>
      <h2 class="text-4xl text-blue-900 font-bold">{title}</h2>
      <p class="text-gray-600">{description}</p>
    </div>
    <RightArrowButton path={buttonLink} />
  </div>
  <!-- Image column, order changes if reverse is true -->
  <div class={`${reverse ? 'order-first' : 'order-last'}`}>
    <Image src={image} alt={title} class="rounded-lg w-full h-auto" />
  </div>
</div>
