---
import { Image } from "astro:assets";
import tealSquiggle from "../images/decorations/squiggle-long-teal300.svg";


interface Props {
  title: string;
  image: ImageMetadata;
  content: string;
  logo: ImageMetadata;
}

const { title, image, content, logo } = Astro.props;
---

<div class="container mx-auto md:max-w-[70%] px-4 mt-8">
    <header>
        <h1 class="text-6xl pt-8 md:text-6xl text-blue-600 font-bold text-center">{title}</h1>
        <Image
        src={tealSquiggle}
        alt="Orange squiggle"
        class="mx-auto w-[60%] md:w-[40%] mt-4 mb-8"
      />
    </header>
    <div class="flex flex-wrap justify-center mt-6">
        <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
            <Image src={image} alt="Descriptive alt text about the Pawprint" class="img-fluid mx-auto" loading="lazy">
        </div>
        <div class="w-full md:w-1/2 px-2">
            <article class="prose md:prose-lg">
                <p>{content}</p>
            </article>
            <Image src={logo} alt="Descriptive alt text about the logo" class="img-fluid mx-auto mt-4" loading="lazy">
        </div>
    </div>
</div>
