---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import MissionBanner from "../components/MissionBanner.astro";
import WhyFomas from "../components/WhyFomas.astro";
import WhoWeAre from "../components/WhoWeAre.astro";
import Onebytwo from "../components/Onebytwo.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import pawPrint from "../images/horizontalPawprint.png";
import jill from "../images/boardMembers/jillMulderR.png";
import karen from "../images/boardMembers/karenBernauerL.png";
import linda from "../images/boardMembers/lindaBrownR.png";
import phil from "../images/boardMembers/philipCoxL.png";
import peter from "../images/boardMembers/peterR.png";
import Image from "astro/components/Image.astro";
import orangeSquiggle from "../images/decorations/squiggle-short-amber400.svg";
import logo from "../images/logos/fomas-full-blue.jpg"

const pageTitle = "About";
---

<Layout pageTitle={pageTitle}>
  <Main>
    <body class="text-center items-center">
      <MissionBanner
        title="Our Mission"
        content="Our mission at FOMAS is to provide the highest quality of care to every dog we rescue, to match them with the right families and resources, and to elevate the standard of animal welfare in the greater Mountainair area."
      />
      <WhyFomas
        title="Our Story"
        content="Every dog that comes through the doors of the Mountainair Animal Shelter receives more individualized attention than at other, larger shelters. We do not euthanize at our shelter, so if a dog comes in with serious behavioral or medical issues, we do everything in our capacity to address those needs, AND we have been 97% successful in these efforts, placing those dogs in permanent homes.Our volunteers have single-handedly rescued dozens of dogs from high-kill shelters, rehabilitated them for medical problems or emotional stress and gotten them adopted into loving homes. We believe there is a permanent home for every single dog."
        image={pawPrint}
        logo={logo}
      />
      <WhoWeAre />
      <h2 class="font-bold text-6xl text-center text-blue-600 my-4">
        Our Board
      </h2>
      <Image
        src={orangeSquiggle}
        alt="Orange squiggle"
        class="mx-auto w-[50%]"
      />
      <div class="mx-auto max-w-[600px] items-center"> 
        <Onebytwo
          title="Jill Mulder"
          description="President"
          image={jill}
          reverse={false}
          buttonLink="/board-members/president"
          altText="Jill Mulder, President"
        />
        <Onebytwo
          title="Karen Bernauer"
          description="Vice President"
          image={karen}
          reverse={true}
          buttonLink="/board-members/vice-president"
          altText="Karen Bernauer, Vice President"
        />
        <Onebytwo
          title="Linda Brown"
          description="Treasurer"
          image={linda}
          reverse={false}
          buttonLink="/board-members/treasurer"
          altText="Linda Brown, Treasurer"
        />
        <Onebytwo
          title="Phillip Cox"
          description="Secretary"
          image={phil}
          reverse={true}
          buttonLink="/board-members/secretary"
          altText="Phillip Cox, Secretary"
        />
        <Onebytwo
          title="Peter"
          description="Director"
          image={peter}
          reverse={false}
          buttonLink="/board-members/director"
          altText="Phillip Cox, Secretary"
        />
      </div>

      <FullPageBanner
        headline="Got Questions?"
        backgroundImage="/about-page-doggie.png"
        buttonLink="/contact"
        buttonText="Contact Us"
      />
    </body>
  </Main>
</Layout>
