---
import Main from "../components/Main.astro";
import Layout from "../layouts/BaseLayout.astro";
import MissionBanner from "../components/MissionBanner.astro";
import Onebytwo from "../components/Onebytwo.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import LetsConnect from "../components/LetsConnect.astro";
const pageTitle = "Donate";
import volunteerPawPrint from "../images/pawPrints/volunteerL.png";
import helpPawPrint from "../images/pawPrints/amazonWishlistR.png"
import RecurringDonationCard from "../components/RecurringDonationCard.astro";
---

<Layout pageTitle={pageTitle}>
    <Main>
        <MissionBanner
            title="Thank you!"
            content="Your donation helps FOMAS put dogs in the most loving homes and provide them with care."
        />
        <div class="donation-cards">
            <h2 class="text-3xl text-blue-600 py-4 font-bold text-center">
                Recurring Donation
            <div class="flex flex-wrap justify-center gap-4">
              <RecurringDonationCard 
                amount="5"
                paymentLinkUrl="https://buy.stripe.com/7sI6ru0xwfUvesg146"
                title="$5 Monthly Donation"
                description="After selecting this option and confirming via Stripe, your payment method will be charged $5.00 USD per month until you email us to cancel."
              />  
              <RecurringDonationCard 
                amount="10"
                paymentLinkUrl="https://buy.stripe.com/9AQaHK942eQrdocfZ1"
                title="$10 Monthly Donation"
                description="After selecting this option and confirming via Stripe, your payment method will be charged $10.00 USD per month until you email us to cancel."
              />    
              <RecurringDonationCard 
                amount="25"
                paymentLinkUrl="https://buy.stripe.com/8wMg247ZYbEfdoc3cd"
                title="$25 Monthly Donation"
                description="After selecting this option and confirming via Stripe, your payment method will be charged $25.00 USD per month until you email us to cancel."
              />    
              <RecurringDonationCard 
                amount="50"
                paymentLinkUrl="https://buy.stripe.com/fZeg241BA9w7ac06os"
                title="$50 Monthly Donation"
                description="After selecting this option and confirming via Stripe, your payment method will be charged $50.00 USD per month until you email us to cancel."
              />    
            </div>
            <p class="mt-4 text-sm text-center">
              For a monthly recurring donation different in amount or frequency from those listed above, or to cancel your subscription, please reach out via our contact form
              <a href="/contact" class="text-blue-500 underline">here.</a>
            </p>
          </div>
        <h2 class="text-6xl text-blue-600 py-4 font-bold text-center">
            Other Ways To Give
        </h2>
        <div class="mx-auto md:max-w-[70%]">
        <Onebytwo
            title="Volunteer"
            image={volunteerPawPrint}
            buttonLink="/volunteer"
            reverse={true}
            altText="Paw Print"
        />
        <Onebytwo
            title="Give Food & Supplies"
            image={helpPawPrint}
            buttonLink="/volunteer"
            reverse={false}
            altText="Paw Print"
        />
    </div>
        <FullPageBanner
            backgroundImage="/adopt-dont-shop.png"
            headline="Adopt, Don't Shop!"
            buttonText="Our Dogs"
            buttonLink="/dogs"
        />
        <LetsConnect />

    </Main>
</Layout>
