---
import Layout from "../layouts/BaseLayout.astro";
import Main from "../components/Main.astro";
import FullPageBanner from "../components/FullPageBanner.astro";
import SuccessStoryCard from "../components/SuccessStoryCard.astro";
import WhyFomas from "../components/WhyFomas.astro";
import MissionBanner from "../components/MissionBanner.astro";
import LetsConnect from "../components/LetsConnect.astro";
import SupportOurMission from "../components/SupportOurMission.astro";
import resourcesPawPrint from "../images/pawPrints/resourcesR.png";
import volunteerPawPrint from "../images/pawPrints/volunteerL.png";
import whyPawPrint from "../images/pawPrints/whyFomasV.png";
import fomasLogo from "../images/logos/fomas-full-blue.jpg";
import Onebytwo from "../components/Onebytwo.astro";


const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <FullPageBanner
    backgroundImage="./doggy.jpeg"
    headline="Get Involved"
    buttonText="Learn More"
    buttonLink="/volunteer"
  />
  <Main>
    <div class=" container mx-auto md:max-w-[70%]">
    <Onebytwo
      title="Resources"
      description="Find a new forever friend today."
      image={resourcesPawPrint}
      buttonLink="/resources"
      altText="Click to go to resources"
    />
    <Onebytwo
      title="Volunteer"
      description="Find a new forever friend today."
      image={volunteerPawPrint}
      buttonLink="/volunteer"
      reverse={true}
      altText="Click to go to the volunteer page"
    />
  </div>
    <SuccessStoryCard 
    class="mt-5rem"
     />
    <WhyFomas
      title="Why Fomas?"
      content="Every dog that comes through the doors of the Mountainair Animal Shelter receives more individualized attention than at other, larger shelters. We do not euthanize at our shelter, so if a dog comes in with serious behavioral or medical issues, we do everything in our capacity to address those needs, AND we have been 97% successful in these efforts, placing those dogs in permanent homes."
      image={whyPawPrint}
      logo={fomasLogo}
    />
    <MissionBanner
      title="Our Mission"
      content="To provide a safe and loving environment for animals in need."
    />
    <SupportOurMission />
  <LetsConnect />

  </Main>
</Layout>
