---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Main from "../../components/Main.astro";
import { getPosts, getPost } from "../../../src/utils/sanity";
import { urlFor } from "../../libs/sanity/image";
import {PortableText} from "astro-portabletext";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post: any) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params;

const post = await getPost(slug);
---

<BaseLayout pageTitle={post.title}>
  <Main>
    <article class="mx-auto p-8 prose prose2xl min-h-screen">
      <!-- Button that will take user back to previous page -->
      <a href="/blog" class="text-white no-underline  bg-blue-600 p-2 rounded-full">Back to Blog</a>
      <h1 class="mt-8 text-blue-600 text-center">{post.title}</h1>
      {
        post.mainImage && (
          <img
            class="post__cover w-full mt-8"
            src={urlFor(post.mainImage).width(400).url()}
            alt="Cover image"
          />
        )
      }
      <div>
        <PortableText value={post.body} />
      </div>
    </article>
  </Main>
</BaseLayout>
