---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Main from "../../components/Main.astro";
import { getAnimals, getAnimal } from "../../../src/utils/sanity"; // Adjust the import paths based on your project structure
import { urlFor } from "../../libs/sanity/image";
import {PortableText} from "astro-portabletext";

export async function getStaticPaths() {
  const animals = await getAnimals(); // Function to fetch all animal profiles
  return animals.map((animal: any) => ({
    params: { slug: animal.slug.current },

  }));
}

const { slug } = Astro.params;
const animal = await getAnimal(slug); // Function to fetch a single animal profile based on slug
---

<BaseLayout pageTitle={animal.name}>
  <Main>
    <article class="mx-auto min-h-screen prose prose-lg p-8">
      
      <h1 class="mt-8 text-blue-600 text-center">{animal.name}</h1>
      <a href="/dogs" class="text-white no-underline bg-blue-600 p-2 rounded-full">Back to Dogs</a>
      {
        animal.images && animal.images.length > 0 ? (
          <div class="animal__images flex flex-col sm:flex-row gap-6">
            {animal.images.map((image:any) => (
              <img
                class="animal__image"
                src={urlFor(image).width(400).url()}
              />
            ))}
          </div>
        ) : (
          <div class="animal__images flex flex-col sm:flex-row gap-6">
            <img
              class="animal__image"
              src="/doggie-fallback.webp"
              alt="Fallback image"
            />
          </div>
        )
      }
      <div class="my-4">
        <PortableText value={animal.bio} />
      </div>
      <div class="my-6">
        <strong>Breed:</strong> {animal.breed}
        <br />
        <strong>Age:</strong> {animal.age}
        <br />
        <strong>Gender:</strong> {animal.gender}
        <br />
        <strong>Size:</strong> {animal.size}
        <br />
        <strong>Adoption Status:</strong> {animal.adoption_status}
      </div>
    </article>
  </Main>
</BaseLayout>
